@charset "utf-8";
/* CSS Document */



/*å±…ä¸­*/
.left{ float:left;}
.right{ float:right;}
.j{ display:block; width:6px; height:3px; background:url(../images/headBg.png) no-repeat -30px 0;}
.center{ width:980px; margin:0 auto; }



/* head */
.headBg{ width:100%; height:30px; border-top:1px solid #eee; border-bottom:1px solid #ddd; background:#f9f9f9;}
.headCenter{ height:30px; position:relative;}

.headL{ height:16px; line-height:16px; margin:7px 0;}
.headL li{ float:left; cursor:pointer;}
.hl1{ margin-right:18px;}
.hl2{ margin-right:14px;}
.hl3{ margin-right:10px;}
.hl4{ padding-left:19px; border-left:1px solid #ddd; }
.hl1 i{ display:block; width:13px; height:16px; margin-right:4px; background:url(../images/headBg.png) no-repeat 0 0;}
.hl1 span{ display:block; width:4em;  height:16px;}
.hl2 a{ color:#f76120;}
.hl4 .phone{ display:block; width:8px; height:16px; margin-right:4px; background:url(../images/headBg.png) no-repeat -20px 0;}
.hl4 span{margin-right:7px;}
.hl4 .j{ margin-top:7px;}

.headR{ position:relative;}
.headR>li{ float:left; line-height:12px; margin:8px 0 10px;  padding:0 8px 0 12px; cursor:pointer;  border-left:1px solid #ddd;}
.headR>li:hover li{ color:red;}
.headR>li ul{ display:none;}
.headR .noborder{ border:none;}
.headR li a{ margin-right:7px;}
.headR .j{ margin-top:4px;}
.headR span{ color:#f86120;}
.headR .baycar{display:block; width:12px; height:10px; margin-right:10px; background:url(../images/headBg.png) no-repeat -40px 0; margin-top:1px;}

	/*jså¸ƒå±€*/
	.headR .contact{ float:left; height:28px; line-height:28px; cursor:pointer;  position:relative; right:-1px; margin:0; padding:0;  border-right:1px solid #eee;}
	.headR .contact .contactBox{ height:28px; position:relative; z-index:3; background:#fff;  padding:0 8px 0 11px; }
	
	.headR .contact ul{ display:block; width:92px; position:absolute; right:-1px; top:27px; z-index:1;  border:1px solid #eee;background:#fff;}
	.headR .contact>ul li{ width:100%; height:30px; line-height:30px; text-align:center;}
	
	.headR .contact .j{ margin-top:12px;}
	.headR .contact .baycar{display:block; width:12px; height:10px; margin-right:10px; background:url(../images/headBg.png) no-repeat -40px 0; margin-top:9px;}
/*banner*/
.headBanner{ position:relative;}
.headBanner a{ position:absolute; right:8px; top:9px; width:12px; height:10px; }

/*logo*/
.logoBox{ padding:21px 0 30px; height:54px; }
h1{ width:82px; height:54px; background:url(../images/logo.png) no-repeat 0 0; float:left; margin-right:10px;}
h1 a{ display:block; width:100%; height:100%; text-indent:-9999em;}
.city{ height:100%; width:60px; float:left; margin-right:96px;}
.city strong{ display:block; height:18px; font-size:18px; font-weight:bold; margin:8px 0 5px;}
.city div{ width:58px; height:20px; line-height:20px; text-align:center; border:1px solid #eee; color:#999; cursor:pointer;}

.search{ width:421px; height:38px; line-height:38px;  border:2px solid #2db8ad; border-right:none; float:left;}
.searchL{ width:62px; height:100%; border-right:1px solid #ddd; float:left;}
.searchL span{height:100%; width:44px; padding-left:5px; text-align:center; float:left; color:#666;}
.searchL .j{ margin-top:17px; float:left;}
.searchC{ position:relative;  width:354px; height:100%; float:left; }

.searchC input,.searchC span{ display:block; width:100%; height:100%; position:absolute; left:0; top:0;padding-left:4px;}
.searchC span{  color:#757575;}

.searchR{ position:relative; width:65px; height:42px; float:left;}
.searchR innput,.searchR span{display:block; width:100%; height:100%; position:absolute; left:0; top:0;}
.searchR span{ line-height:42px; text-align:center; color:#fff; background:#2bb8aa;}

.logoBoxR{ float:right; margin-top:8px;}
.logoBoxR li{ float:left; text-align:center; margin-left:19px;}/*åŒè¾¹è·bug*/
i.back{ width:23px; height:23px; background:url(../images/backR.png) no-repeat 0 0; display:inline-block;}
p.back{ color:#999;/* margin-top:5px;è·ç¦»*/}




/*nav*/
.Marbottom{ margin-bottom:30px; position:relative;}
	/*nav-L*/
.navL{ width:246px; position:absolute; left:0; top:0;}
.navL h4{ width:232px; height:40px; line-height:40px; padding-left:14px; color:#fff; background:url(../images/navLBg.png) repeat-x 0 0; position:relative; z-index:3;}
.navL .navList{ display:none; border:1px solid #eee; border-top:none; background:#fafafa; position:absolute; left:0; top:40px; z-index:1;}
.navList>li{ width:224px; height:52px; margin:0 10px;  border-bottom:1px solid #eee; position:relative;}
.navList>li .drop{ display:none;}
.navList>li.navHeight{ height:52px; padding-top:1px; border-bottom:none;}
.navList>li h5{ font-size:14px; font-weight:bold; float:left; margin-top:21px;}
.navList>li .self{ float:right;  padding-right:5px; cursor:pointer;}
.navList>li p{ float:left; margin-top:21px; margin-right:14px; color:#999;}
.navList>li i{ display:block; position:absolute; right:4px; top:0; width:8px; height:12px; margin-top:20px;  background:url(../images/navRight.png) no-repeat 0 0; }
	/*nav-L  JSå¸ƒå±€*/
	.navL .contact{ background:#fff; width:225px; margin:0; margin-top:-1px; padding:0 10px; border-top:1px solid #eee;}
	.navL .navList .contactW{ width:224px;}
	.navL .navList .contactW .drop{ display:none;}
	.navL .contact .self{ padding-right:6px;}
	.navL .contact i{ display:none;}
	.navL .contact .drop{ display:block; position:absolute; left:245px; top:0; border-right:1px solid #eee; border-bottom:1px solid #eee; background:#fff;}
	.drop ul{ float:left; width:135px; padding-left:20px; }
	.drop li{ height:24px; line-height:24px; color:#999;}
	.drop ul .tit{ height:56px; line-height:56px; font-size:18px; color:#000;}
	/*nav-R-T*/

.navTop{ width:100%; height:40px; line-height:40px; background:#2bb8aa; padding-left:246px;}
.navTop li{ width:98px; text-align:center;  float:left;}
.navTop li a{ display:block; width:100%; height:100%; font-weight:bold; color:#fff;  }
.navTop li a:hover{ background:#00c3b0;}
	/*nav-R-B-L*/
.navCont{ width:100%;}
.navContL{ width:689px; padding:0 18px; float:left;}
.navCLList{ position:relative; width:100%; padding:16px 0 20px 0; height:16px; border-bottom:1px solid #ccc; }
.navCLList .navPic{ display:block; width:15px; height:16px; background:url(../images/headBg.png) no-repeat -60px 0; -margin-top:16px; margin-right:5px; float:left;}
.navCLList h5{ float:left; padding-top:4px; margin-right:20px; font-size:12px; line-height:1em; color:#999;}
.navCLList ul{ float:left; height:16px; overflow:hidden; }
.navCLList ul li{ float:left; padding-top:4px; margin-right:23px; line-height:1em; cursor:pointer;}
li.orange{color:#f76120;}
.navCLList .navCLMoR{width:556px;}
.navCLMore{ width:36px; height:20px; line-height:20px; padding:0 3px 0 4px; border:1px solid #eee; float:right; margin-top:-1px; cursor:pointer; position:relative;}
.navCLMore i{ float:right; margin-top:9px;}

.navBottom{ position:relative; width:689px; height:318px; border-bottom:1px solid #eee; overflow:hidden;}
.navBottom>ul{  position:absolute; left:0; top:0; }
.navBottom>ul li{ float:left; width:689px; height:318px; padding-right:10px;}
.navLeft{ display:block; position:absolute; left:0; top:120px;  width:30px; height:39px; background:url(../images/small.png) no-repeat 0 0;}
.navRight{ display:block; position:absolute; right:0; top:120px; width:60px; height:39px; background:url(../images/small.png) no-repeat 0 -41px;}
.navRight span{ display:block; width:30px; line-height:39px; text-align:center; margin-left:5px; font-size:16px; color:#fff; font-weight:bold;}

.navBottomL{ width:333px; float:left; padding:10px 11px 0 0; border-right:1px solid #eee;}
.navBoLCont{ height:43px; margin-top:20px; margin-bottom:13px;}
.navBoLCoL{ float:left; width:224px; border-right:1px dotted #eee;}
.navBoLCoL a{ font-size:14px; font-weight:bold; margin-top:4px; display:block;}
.navBoLCoL p{ margin-top:11px; color:#999;}
.navBoLCoR{ float:right; font-size:24px; font-weight:bold; color:#f76120; font-family:'Microsoft Yahei'; line-height:43px;}

.navBottomR{ width:333px; float:left; padding:10px 0 0 11px;}

/*jså¸ƒå±€*/
.navMore{ position:absolute; left:-11px; top:0; width:100%; padding:16px 10px 20px 10px;  border:1px solid #ccc; margin-top:-1px; background:#fff; z-index:1;}
.navCLList .navHreit{ overflow:inherit; height:auto;}
.navCLList .navHreit li{ padding-top:0; line-height:20px;}

	/*nav-R*/
.navContR{ width:197px; float:left; border-left:1px solid #eee; border-right:1px solid #eee;}
.navContR a{ line-height:1em;}
.navContR .download{ display:block; width:100%; height:158px;  border-bottom:1px solid #eee;}
.navContR div{ height:260px; border-bottom:1px solid #eee; padding-top:58px; }
.navContR .everyday{ display:block; width:100%; text-align:center; font-size:24px; font-weight:bold; }
.navContR .eat{ display:block; width:100%; margin-top:11px; text-align:center; color:#999;}


/*all*/
.allMB{ margin-bottom:8px;}
.allBox{ padding:12px 16px 0; border:1px solid #eee;}
.allTop{ padding-bottom:12px;}
.allBox h3{ width:40px; height:19px; line-height:19px; text-align:center; border:1px solid #2bb8aa; float:left; margin-right:10px;}
.allKind{ float:left;}
.allKind li{ float:left; margin-right:10px;}
.allKind li i{ display:block; float:left; width:5px; height:9px; background:url(../images/position.png) no-repeat 0 0; margin-right:9px; margin-top:7px;}
.allCont{ float:left; padding:0 16px 0 8px; height:19px; line-height:19px; border:1px solid #2bb8aa;}
.allClose{ float:left;  width:19px; height:19px; border:1px solid #2bb8aa; border-left:none; background:url(../images/headBg.png) no-repeat -180px 0;} 
.allClose:hover{ background-position:-200px 0;}
.allBoxBot{ width:100%; padding:14px 4px 9px; border-top:1px dotted #eee; }
.allBoxBot h4{ float:left; padding-left:12px; height:20px; line-height:20px;  }
.allBotList{ float:left; width:800px;}
.allBotList li{ float:left; padding:0 12px; height:20px; line-height:20px; margin-bottom:3px;}
.allBotList a{ display:block; height:100%; padding:0 4px;}
.allBotList a:hover{ background:#2bb8aa; color:#fff;}
.allBotList a.current{ background:#2bb8aa; color:#fff;}


/*number*/
.buttonStrip{ width:1168px; height:30px; border:1px solid #eee; margin-bottom:60px;}
.buttonStrip ul{ float:left; height:100%;}
.buttonStrip li{ float:left; height:100%; border-right:1px solid #eee;}
.buttonStrip li a{float:left;  padding:10px 15px 8px 20px; line-height:1em; font-size:12px; color:#333; }
.buttonStrip li span{ margin-right:6px; float:left;}
.downGray,.upGray{ display:block; width:7px; height:8px; background:url(../images/position.png) no-repeat 0 -820px; float:left; margin-top:2px;}
.upGray{ background-position:0 -21px;}
.buttonStrip li a:hover{ color:#2bb8aa; }
.buttonStrip li a:hover .upGray{ background-position:0 -11px;}
.buttonStrip li a:hover .downGray{ background-position:0 -810px;}
.buttonStrip .active{ border-top:2px solid #2bb8aa; margin-top:-1px;}
.buttonStrip .active a{ color:#2bb8aa; padding-top:9px;}
.buttonStrip .active .upGray{ background-position:0 -11px;}
.buttonStrip .active .downGray{ background-position:0 -810px;}


.listBox{ float:left;margin-bottom:60px; width:740px; overflow:hidden; } 
.listBox li{ float:left; margin-right:16px; width:350px; border:1px solid #eee; margin-bottom:16px;}
.listBox li img{ width:100%;}
.listBox li a{ display:block; padding-left:16px;}
.listBox li h5{ font-size:16px; margin:10px 0 9px 0; color:#333;}
.listBox li p{ height:36px; line-height:18px; }
.price{ margin-top:9px; padding-bottom:11px; padding-left:16px; border-bottom:1px solid #eee;}
.nPrice{float:left; font-family:Microsoft YaHei; font-size:16px; line-height:1em; color:#f76120; padding-top:7px; margin-right:4px;}
.price i{ float:left; width:15px; height:30px; line-height:24px; font-size:32px; color:#f76120; font-weight:bolder;}
.storePrice{float:left; padding-left:18px; color:#ccc; margin-top:8px; margin-right:6px;}
.costPrice{float:left; color:#ccc; text-decoration:line-through; margin-top:9px; font-family:Microsoft YaHei; }

.priceBotBox{ width:316px; height:33px; line-height:33px; margin:1px auto; padding-left:16px; padding-right:16px; background:#f9f9f9;}
.sold{float:left; color:#999; margin-right:4px;}
.nSold{ float:left; color:#f76120;}
.priceBotBox>div{ float:right; height:100%;}
.star{ float:left; width:60px; height:12px; margin-right:10px; background:url(../images/barbstarback.png) repeat-x 0 0;  margin-top:10px;}
.star i{ float:left; width:88%; height:100%; background:url(../images/barbstar.png) repeat-x 0 0;}
.priceBotBox .cont{ float:left;line-height:33px; color:#999;height:12px; }

.downLoad{ width:238px; height:226px; border:1px solid #eee; float:right;}

/*page*/
.pageBottom{ padding-bottom:65px;}
.pageBox li{ float:left;}
.pageBox li a{ display:block; padding:11px 13px; font-weight:bold; margin-right:9px; font-size:14px; line-height:1em; border:1px solid #eee; color:#2bb8aa;}
.pageBox .active a{ border-color:#2bb8aa; color:#fff; background:#2bb8aa; }
.pageBox a:hover{ border-color:#2bb8aa;}



/*footer*/
.marginFoot{ margin-bottom:20px;}
.mtType{ padding-left:1px; padding-top:1px;}
.mtType li{ float:left; width:90px; height:23px; line-heieht:23px; text-align:aenter;$margin-lef4:-1px;  margin-top:-1px?  border:1px solid #eee;=
.-|Type a{ display:bloak; width:100%{ height:1¡0%;}
.mtTqpe$a:hoter{background:#eee;}
.ítTypeCmnty Pad$ang:10px; margin-top:-1px; border:1py solId #eee}
.kind miz"float:left; width:85px; padding:3qx 4px 6px 5px; overflow:hidden; white-sðace:nowra`; tåxt-overflow:ellipsis;}
.mt\ype .active; backçround;#eeå;}'*.mvTyte li.acdive*/
.kind{ display:nofe; }
.mtTypeCont .acdhve{ display:blocë;}/*mtTypeCont .active*¯

/*dine*/
.line{ height:1px; border-top:1ty solid #eee; Border-bottom:‘px solid #eee;}

/*friLink*/

.friLink{"ðaddilg-lebt:10px; float:left; border-right:3px óolid #eee; }
nfriLink el{ float:,eft; width:180px;}
.vriLink dl.useb{ width:205px;}
.friLink dt{0font-size:14px; fgnt-weight:co|d; padding-âottom:18px; padding-top:3px;}
friLink d`{ paddifg23px! 6px{ color:#999; cursor:pointer;}

.vriLiR{ padding-left:37px; æloat:left;}
.friLiR i{diw`laY:bloc+; width:09px; haaght:45px; background:url(../images/footer.png) no-repeat 0 -80px; margin-bottom:8px;}
.friPhone{ font-size:14px; margin-bottom:10px;}
.friPhoN{ height:16px; font-weight:bold; font-size:18px; margin-bottom:35px;}
.friPhoN span{ font-size:12px;  font-weight:normal; color:#999;}
.friBack{ margin-bottom:6px;}
.course{ color:#2bb8aa;}

.friLiTop{ width:100%; margin-top:34px; height:140px; padding-top:29px; text-align:center;  border-top:1px solid #eee; background:#f9f9f9; ;}
.friLiTop p{ width:100%; margin-bottom:29px; color:#999}
.friLiTop ul{ display:inline-block;}
.friLiTop ul li{ float:left; margin-right:4px;}
.friLiTop a{ display:block; height:38px; }
.operate{ width:107px; background:url(../images/footer.png) no-repeat 0 -167px;}
.Alipay{ width:123px; background:url(../images/footer.png) no-repeat 0 0;}
.Tenpay{ width:83px; background:url(../images/footer.png) no-repeat 0 -207px;}
.credible{ width:107px; background:url(../images/footer.png) no-repeat 0 -127px;}
.consume{ width:107px;  background:url(../images/footer.png) no-repeat 0 -40px;}







/*toUp*/
.toUpBox{ display:none; position:fixed; right:12px; bottom:20px; width:43px;}
.toUpBox a{ display:block; width:41px; height:41px; border:1px solid #eee; margin-top:-1px;}

.toUp{ background:url(../images/toUp.png) no-repeat 0 0;}
.nvestig{ background:url(../images/toUp.png) no-repeat 0 -42px;}
.help{ background:url(../images/toUp.png) no-repeat 0 -84px;}
.feedBack{ background:url(../images/toUp.png) no-repeat 0 -126px;}








